*.exe
*.dll 
*.bpl
*.obj
*.bpi
*.ocx
*.rsm
*.map
*.dres
*.a
*.o
*.so
*.hi
*.log
*.dsk
*.lib
*.apk
*.tds
log
*.~*
*.*~
*~
*.ddp
*.dcu
*.dcp
*.drc
*.cfg
*.orig
*.local
*.projdata
*.tvsconfig
*.skincfg
*.stat
__history/
__recovery/
bin/
